// import "compass/css3"

.game.page
  width: 100%
  padding: 24px

  h1
    text-align: center



.flex-container
  padding: 20
  margin: 40
  list-style: none

  display: -webkit-box
  display: -moz-box
  display: -ms-flexbox
  display: -webkit-flex
  display: flex

  -webkit-flex-flow: row nowrap
  justify-content: center
  height: 800px


.flex-die
  padding: 5px
  width: 30%
  height: 100%
  margin-top: 10px
  background: black

  line-height: 150px
  color: grey
  font-weight: bold
  font-size: 3em
  text-align: center


.flex-player
  padding: 5px
  width: 30%
  height: 100%
  margin-top: 10px
  background: tomato

  line-height: 150px
  color: grey
  font-weight: bold
  font-size: 3em
  text-align: center


.color
  background: blue


.playerName
  height: 150px


.gameName
  height: 150px


.gameTotal
  height: 300px


.roundTotal
  height: 200px


.gameDie
  height: 300px


.rollDie
  height: 200px
