// src/containers/Lobby.sass

.games.lobby
  width: 100%
  padding: 80px
  margin-top: -40px


  h1
    text-align: center
    font-size: 50px

.games-list
  padding: 10px
  display: flex
  flex-direction: column
  justify-content: space-around
  flex-flow: row wrap
  margin-top: 35px
  background-image: url('http://texturelib.com/Textures/grass/grass/grass_grass_0108_01_preview.jpg')
  background-size: auto

.game-item
  width: 40%
  min-width: 300px
  margin-bottom: 2vh

a
  text-decoration: none

.create-button
  margin-top: 50px
  display: inline-block
  padding: 15px 25px
  font-size: 20px
  font-weight: bold
  cursor: pointer
  text-align: center
  text-decoration: none
  outline: none
  color: #fff
  background-color: #FF69B4
  border: none
  border-radius: 15px
  box-shadow: 0 9px #999


.create-button:hover
  background-color: #F46E6B

.create-button:active
  background-color: #F46E6B
  box-shadow: 0 5px #666
  transform: translateY(4px)
